.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
    
}

.listSearch{
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    height: max-content;
    top: 10px;
}
.listTitle{
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}

.lsItem{
 display: flex;
 flex-direction: column;
 gap: 5px;
 margin-bottom: 10px;
}
.lsItem>label{
 font-size: 12px;   
}

.lsItem>input{
    height: 30px;
    border: none;
    padding: 5px;
    outline: none;
}
.lsItem>span{
    height: 30px;padding: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
}
 .isOptions{
     padding: 10px;
 }

 .listSearch>button{
     padding: 10px;
     background-color: #0071c2;
     color: white;
     border: none;
     width: 100%;
     font-weight: 500;
     cursor: pointer;
     border-radius: 20px;
 }
.isOptionInput{
    width: 50px;
}
.listResult{
    flex: 3;
}  